//  ·············································································
//  
//  🔩 The Nuts & Bolts
//
//  ·············································································


//  ·············································································
//
//  🔩 Introspection
//
//  ·············································································
//  ▪ boolean
@function is-true($value)   { @return $value == true; }
@function is-false($value)  { @return $value == false; }
@function is-null($value)   { @return $value == null; }
@function is-falsy($value)  { @return $value == false or $value == null or $value == 0; }
@function is-truthy($value) { @return not is-falsy($value); }   

//  ▪ is-equal
//  compares two values based on value, type and unit
//  some sass versions would falsly equal 500 and 500px	
@function is-equal($a, $b){
  @return 
      type-of($a) == type-of($b) and 
      $a and $b and $a+'' == $b+'' or 
      not $a and not $b;
}

//  ▪ index-equal
//  like the native index function but with an is-equal check
//  to ensure unit annd unitless are not treated equal
@function index-equal($list, $value) {
  @if length($list) == 0 { @return null; }
  @for $n from 1 through length($list) { 
    @if is-equal(nth($list, $n), $value) { @return $n }; 
  }
  @return null;
}

//  ▪ empty map, list, arglist or string
@function is-empty($value)  { 
  @return 
    if(index(list map arglist, type-of($value)), length($value) == 0, 
    if(index(string, type-of($value)), str-length($value) == 0, false));
}

//  ▪ type
@function is-bool($value)   { @return type-of($value) == bool; }
@function is-number($value) { @return type-of($value) == number; }
@function is-string($value) { @return type-of($value) == string; }
@function is-list($value)   { @return type-of($value) == list; }
@function is-map($value)    { @return type-of($value) == map; }
@function is-color($value)  { @return type-of($value) == color; } 
@function is-arglist($value){ @return type-of($value) == arglist; }
@function is-nan($value)    { @return not is-number($value); }

//  ▪ unit
@function is-px($value) { @return unit($value) == px; }
@function is-pt($value) { @return unit($value) == pt; }
@function is-pc($value) { @return unit($value) == pc; }
@function is-in($value) { @return unit($value) == in; }
@function is-mm($value) { @return unit($value) == mm; }
@function is-cm($value) { @return unit($value) == cm; }
@function is-q($value)  { @return unit($value) ==  q; }

@function is-em($value)   { @return unit($value) ==   em; }
@function is-rem($value)  { @return unit($value) ==  rem; }
@function is-vw($value)   { @return unit($value) ==   vw; }
@function is-vw($value)   { @return unit($value) ==   vh; }
@function is-vmin($value) { @return unit($value) == vmin; }
@function is-vmax($value) { @return unit($value) == vmax; }
@function is-pct($value)  { @return unit($value) ==  '%'; }
@function is-ex($value)   { @return unit($value) ==   ex; }
@function is-ch($value)   { @return unit($value) ==   ch; }

@function is-absolute($value) { @return index(px pt pc in mm cm q, unit($value)); }
@function is-relative($value) { @return index(em rem vw vh vmin vmax ex ch '%', unit($value)); }
@function is-angle($value)    { @return index(deg rad turn, unit($value)); } 
@function is-time($value)     { @return index(ms s, unit($value)); } 
@function is-frequency($value){ @return index(hz kHz, unit($value)); } 



//  ·············································································
//
//  🔩 List functions
//
//  list($args...)                   => list      
//
//  nth-get($list, $n)               => value     
//  nth-set($list, $n, $value)       => list
//  nth-delete($list, $n)            => list
//  nth-index($list, $n)             => n  
//
//  first($list)                     => value 
//  last($list)                      => value 
//  last-index($list, $value)        => n
//
//  prepend($list, $value)           => list
//  reverse($list)                   => list
//  unique($list)                    => list
//
//  sort($list, $ascending: true)    => list
//  
//  ·············································································

//  ▪ list 
//  Creates and or reformat a list allowing you to predefine how the 
//  list should be formatted (space/comma separator and bracketed)
//  
//  $list: list()                       creates an empty space separated list without brackets
//  $list: list((), space, false)       empty space separated list without brackets
//  $list: list(foo bar, comma)         comma separated list containing foo and bar
//  
//  if the values list contains formatting this will be used unless a format is provided    
//  $list: list([x, y])                 comma separated bracketed list
//
//  You can also inherit the format of an existing list by passing that list as format.
//  This is useful if you want to make list alterations and have the returned list
//  formatted as the list passed. 
//
//  @function ($list) { 
//     $new-list: (); 
//     ... do stuff 
//     @return list($new-list, $list); 
//  } 
//
@function list($args...) { 
	$a1: nth-get($args, 1);
	$a2: nth-get($args, 2);
	$a3: nth-get($args, 3);
	$list: if(type-of($a1) == list, $a1, ());
	$separator: 
		if(type-of($a2) == list, list-separator($a2), 
		if(index(space comma, $a2), $a2, 
		if(index(space comma, $a3), $a3, 
		list-separator($list))));
	$bracketed: 
		if(type-of($a2) == list, is-bracketed($a2), 
		if(type-of($a2) == bool, $a2), $a2, 
		if(type-of($a3) == bool, $a3, 
		is-bracketed($list))));
	@return	join((),$list,$separator,$bracketed);
}

//  ▪ nth-get
//  Similar to the native nth function but without 
//  index out of bounds error allowing a more casual
//  use e.g. when handling conditionals
//  
//  @function ($list) {
//     prop-1: nth-get($list, 2) or something-else; 
//     prop-2: nth-get($list, 2);   
//  } 
//  note! null will cause prop-2 not to render 
// 
//  $list: a b c d;
//  nth-get($list,  2)  => b    (2nd item from start)  
//  nth-get($list, -2)  => c    (2nd item from end)
//  nth-get($list, 22)  => null
// 
@function nth-get($list, $n) { 
    $n: nth-index($list, $n);
    @return if(length($list) < $n, null, nth($list, $n));
}


//  ▪ nth-set
//  Similar to the native set-nth function but without 
//  index out of bounds error instead returning the  
//  original list if no nth match without inserting.
//
//  $list: a b c d;
//  nth-set($list,  2, 👻)  => a 👻 c d   
//  nth-set($list, -2, 👻)  => a b 👻 d    
//  nth-get($list, 22, 👻)  => a b c d e
// 
@function nth-set($list, $n, $value) { 
    $n: nth-index($list, $n);
    @return if(length($list) < $n, $list, set-nth($list, $n, $value));
}


//  ▪ nth-delete
//  Deletes a value from a list based on index. like nth-get and 
//  nth-set passing a negative index will delete from the back
//  of the list. 
// 
@function nth-delete($list, $n) {
    $result: ();
    $n: nth-index($list, $n);
    @for $i from 1 through length($list){
        @if $i != $n { $result: append($result, nth($list, $i)); }
    }
    @return list($result, $list);
}


//  ▪ nth-index
//  Helper function to calculate index from the back of a list
//  if a negative n value is passed. Error handling in case of
//  an out of bounds index is ignored and to be handled by the
//  calling function or mixin.
@function nth-index($list, $n) {
    @return if($n < 0, length($list) + $n + 1, $n);
}


//  ▪ first
//  Shorthand function to return the first item in a list.
@function first($list) {
    @return nth-get($list, 1);
}


//  ▪ last
//  Shorthand function to return the last item in a list.
@function last($list) {
    @return nth-get($list, -1);
}


//  ▪ last-index
//  Similar to the native index function but returning the 
//  last found index of a matched value.
@function last-index($list, $value) {
    @for $i from length($list) through 1 {
        @if nth($list, $i) == $value { @return $i; }
    }
    @return null;
}


//  ▪ prepend
//  Similar to append but adds the value to the beginning of a list.
@function prepend($list, $value) {
    @return list(append((), $value), $list);
}


//  ▪ reverse
//  Reverses a list. 
@function reverse($list) {
    $result: ();
    @for $i from length($list) through 1 {
        $result: append($result, nth($list, $i));
    }
    @return list($result, $list);
}


//  ▪ unique
//  Removes duplicate items in a list.
//
//  $list: a b a b c d c e;  =>   a b c d e    
@function unique($list) { 
    $result: ();
    @for $i from 1 through length($list) {
        $value: nth($list, $i);
        @if not index($result, $value) { 
            $result: append($result, $value); 
        }
    }
    @return list($result, $list);
}


//  ▪ sort
//  sorts a list containing numbers (including comparable units)
//  by default the sort order is ascending
@function sort($list, $ascending: true) { 
    $result: ();
    @while length($list) > 0 {
        $min: min($list...);
        $n: index($list, $min);
        $list: nth-delete($list, $n);
        $result: append($result, $min);
    }
    @return list(if($ascending, $result, reverse($result)), $list);
}




//  ·············································································
//
//  🔩 String functions
//
//  str-replace($string, $search, $replace: '')    => string
//  str-split($string, $delimiter)                 => list
//  str-join($list, $delimiter)                    => string
//   
//
//
//  
//  ·············································································

//  ▪ str-replace
//  replaces a part of a string with a new replace value. if no replace
//  value is provided matches will be replaced with '' – hence deleted. 
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @return if(index,
        str-slice($string, 1, $index - 1) + $replace + 
        str-replace(str-slice($string, $index + str-length($search)), $search, $replace),
        $string
    );
}



//  ·············································································
//
//  🔩 Map functions
//
//  ·············································································
//  ▪ map-some
//  Returns the map value if the key matches one of the keys in a
//  map using lists as keys (e.g. wken providing aliases)
//  $map:(
//     extra-large xl: 24px,
//     large lg l: 18px
//     ...
//  ) 
//  map-some($map, l) =>  18px
//
@function map-some($map, $key){
    @each $keys in map-keys($map) { @if index($keys, $key) { @return map-get($map, $keys); } } 
    @return null;
}

//  ·············································································
//
//  🔩 Color functions
//
//  ·············································································

//  ·············································································
//  
//  🔩 Math functions
//
//  ·············································································

//  ·············································································
//  
//  🔩 Unit conversion 
//
//  ·············································································





